.advantages {
  position: relative;
  @include container(1280px);
  padding: 0 15px 30px;
  margin-top: 66px;
  .advantages__before {
    display: block;
    position: absolute;
    bottom: 15px;
    width: 1450px;
    height: 310px;
    border-bottom: 3px solid $c-default;
    border-left: 3px solid $c-default;
    left: -32px;
    &::before{
      content: '';
      width: 300px;
      height: 3px;
      background: $c-default;
      position: absolute;
      right: 100%;
      top: 0;

    }
  }
  &::before {
    content: '';
    width: 100%;
    height: 3px;
    background: $c-default;
    position: absolute;
    bottom: 0;
    right: -403px;
  }

  &__title {
    @include space-between();
  }
  &__more {
    margin-top: 20px;
    width: 236px;
    height: 60px;
    @include flc-center-center();
    position: relative;
    text-decoration: none;
    transition: .5s;
    font-style: normal;
    font-weight: bold;
    font-size: rem(10);
    line-height: rem(12);
    letter-spacing: rem(1);
    text-transform: uppercase;
    color: $c-default;
    &::after {
      position: absolute;
      content: '';
      width: 100px;
      height: 3px;
      background: $c-default;
      top: -20px;
      right: 20px;
      animation: animeLineAbsolute 2s linear 1,animeLine_02Absolute 2.5s linear 2s infinite;

    }
    &::before{
      content: '';
      width: 100%;
      height: 100%;
      border: 5px solid $c-default;
      box-sizing: border-box;
      @include full-abs();
      margin: auto;
      transition: .5s;
    }
    &:hover {
      color :$c-white;
      background: $c-hover;
      &::before{
        border-color: $c-hover;
      }
    }
    .before {
      display: block;
      width: 155px;
      height: 733px;
      position: absolute;
      top: 27px;
      left: 100%;
      border-top: 3px solid $c-default;
      border-right: 3px solid $c-default;
    }
  }
  &__container {
    @include space-between();
    align-items: stretch;
    margin-top: 50px;
  }
  &__item {}
}

.title-h2--advantages {
}
.title-h2 {
}
.box-advantages {
  width: 315px;
  margin-bottom: 30px;
  &__icon {
    width: 100%;
    height: 197px;
    @include flc-center-center();
    border: 20px solid #1F62A8;
    box-sizing: border-box;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.20972);
  }
  &__description {
    text-align: center;
    margin-top: 30px;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: rem(15);
    line-height: rem(18);
    letter-spacing: rem(1);
    color: $c-blue;
  }
}
.icon-items1 {
  @include icon(60px, 60px, 'a1.svg');
  display: block;
}
.icon-items2 {
  @include icon(55px, 55px, 'a2.svg');
  display: block;
}
.icon-items3 {
  @include icon(55px, 55px, 'a3.svg');
  display: block;
}
.icon-items4 {
  @include icon(50px, 50px, 'a4.svg');
  display: block;
}
.icon-items5 {
  @include icon(55px, 55px, 'a5.svg');
  display: block;
}
.icon-items6 {
  @include icon(55px, 55px, 'a6.svg');
  display: block;
}
@include mmax(1148){
  .advantages__more .before {
    display: none;
  }
  .advantages {
    &::before{
      display: none;
    }
  }
  .advantages__container{
    margin-top: 0;
  }
}
@include mmax(977){
  .box-advantages {
    flex-basis: 45%;
  }
}
@include mmax(644){
  .box-advantages{
    flex-basis: 100%;
  }
}
@include mmax(507){
  .title-h2--advantages {
    flex-basis: 100%;
    margin: 0;
    text-align: center;

  }
  .advantages__more{
    margin: 30px auto 0;
    order: 2;
    &::after {
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}