.product {
	position: relative;
	overflow: hidden;
	padding-top: 69px;
	margin-top: -2px;
	margin-bottom: 70px;
	padding-bottom: 30px;
	&::before {
		width: calc(80% - 10px);
		content: '';
		height: 99%;
		position: absolute;
		right: 20%;
		top: 0;
		border-bottom: 3px solid $c-default;
		border-left: 3px solid $c-default;
	}

	&__header {
		@include container($wrap-content);
		padding: 0 15px;
		@include space-between();
		margin-bottom: 75px;
	}
	&__filter {
		flex-basis: 170px;
		position: relative;
	}
	&__filter-head {
		width: 100%;
		@include space-between();
		background: $c-blue;
		padding: 0 24px 0 20px;
		height: 55px;
		cursor: pointer;
		> p {
			margin: 0;
			font-style: normal;
			font-weight: bold;
			font-size: rem(10);
			line-height: rem(12);
			text-align: center;
			letter-spacing: rem(1);
			text-transform: uppercase;
			color: $c-white;
		}
		> i {
			transition: .5s;
		}
	}
	.product__filter-head--open {
		> i {
			transform: rotate(-90deg);
		}
	}
	&__filter-body {
		z-index: 999;
		display: none;
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		background: $c-blue;
		padding-left: 20px;
		> p {
			cursor: pointer;
			margin: 0;
			font-style: normal;
			font-weight: bold;
			font-size: rem(10);
			line-height: rem(12);
			letter-spacing: rem(1);
			text-transform: uppercase;
			color: $c-white;
			margin: 10px 0 20px;
			transition: .5s;
			&:hover{
				transform: scale(1.1);
			}
		}
	}

	&__body {
		@include container($wrap-content);
		padding: 0 15px;

	}

	&__body-items {
		flex-basis: 295px;
	}
}
.product-row-default {
	@include space-between();
	align-items: stretch;
}
.product-items-default {
	position: relative;

	&__bg {
		position: relative;
		overflow: hidden;
		width: 295px;
		height: 295px;
		margin: 0 auto;
		> img {
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			object-position: center center;
			width: 100%;
			height: 100%;
		}

	}
	&__btn-more {
		padding-top: 13px;
		width: 269px;
		margin: 0 auto;
		text-align: center;
		text-decoration: none;
		transition: .5s;
		display: block;
		padding-bottom: 30px;
		span {
			display: block;
			transition: .5s;
			transition: .5s;
		}
		.border {
			margin: 0 auto;
			width: calc(100% - 30px);
			padding: 20px 15px;
			border: 10px solid #191919;
			box-sizing: border-box;
			font-style: normal;
			font-weight: bold;
			font-size: rem(17);
			line-height: rem(21);
			text-align: center;
			color: $c-default;
			margin-bottom: 26px;
			transition: .5s;

		}
		.more-bottom {
			font-style: normal;
			font-weight: bold;
			font-size: rem(10);
			line-height: rem(12);
			text-align: center;
			letter-spacing: rem(1);
			text-transform: uppercase;
			color: $c-default;
			margin-bottom: 40px;
			position: relative;
			transition: .5s;

			&::before{
				content: '';
				width: 50px;
				height: 3px;
				background: $c-default;
				@include full-abs();
				margin: auto;
				top: auto;
				bottom: -11px;
			}
		}
		&:hover {
			background: $c-white;
			box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.20972);
			.border {
				border-color: $c-blue;
				color:$c-blue;
			}

		}
	}
}
.btn-more-default {
}
@include mmax(929){
	.product__body-items{
		flex-basis: 50%;
	}
}
@include mmax(626){
	.product__body-items{
		flex-basis: 100%;
		.product-items-default__bg {
			margin: 0 auto;
		}
	}
}
