{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <section class="first-slider">
                <a href="#" class="first-slider__order link-order"><span>замовити</span></a>
                <a href="#" class="first-slider__oval"><i class="icon-oval"></i></a>
                <div class="first-slider__slider-body">
                    <div style="width: 100%" class="first-slider__swiper-slide">
                                    <div class="first-slider__bg">
                                        <img src="img/photo5361557368548207267(1)%202.png" alt="">
                                    </div>
                                    <div class="first-slider__solid production__mini-solid--animation"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Співпраця</h1>
                                    <div class="first-slider__solid-big "></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.</p>
                                </div>
                </div>
            </section>
            <section class="form">
                <div class="production">
                    <div class="production__body">
                        <form action="#" class="form-body">
                            <input type="text" placeholder="І'мя та Прізвище">
                            <input type="tel" placeholder="Номер телефону">
                            <input type="email" placeholder="Пошта">
                            <button type="submit" class="btn-more">Відправити</button>
                        </form>
                        <div class="production__right-text">
                            <h2 class="production__title title-h2">Продукція компанії</h2>
                            <p class="production__text text-default">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit, <span>sed do eiusmod tempor incididunt.</span></p>
                            <div class="production__mini-solid production__mini-solid--animation"></div>
                            <p class="production__text text-default">Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit in voluptate velit esse cillum.</p>
                            <p class="production__text text-default"><span>Lorem Ipsum</span> has been the industry's
                                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}