{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <section class="gallery">
                <div class="gallery__row">
                    <div class="gallery__filter">
                        <a href="" class="gallery__filter--active"><span><span>Фільтр 1</span></span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                        <a href=""><span>Фільтр 1</span></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga1.png"><img src="img/ga1.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga2.png"><img src="img/ga2.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga3.png"><img src="img/ga3.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga4.png"><img src="img/ga4.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga5.png"><img src="img/ga5.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga6.png"><img src="img/ga6.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga7.png"><img src="img/ga7.png"></a>
                    </div>
                    <div class="gallery__item">
                        <a data-fancybox="gallery" href="img/ga8.png"><img src="img/ga8.png"></a>
                    </div>
                </div>
            </section>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}