{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <section class="first-slider">
                <a href="#" class="first-slider__order link-order"><span>замовити</span></a>
                <a href="#" class="first-slider__oval"><i class="icon-oval"></i></a>
                <div class="first-slider__slider-body">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="first-slider__swiper-slide">
                                    <div class="first-slider__bg">
                                        <img src="img/photo5361557368548207267(1)%202.png" alt="">
                                    </div>
                                    <p class="first-slider__number-slider">01</p>
                                    <div class="first-slider__solid production__mini-solid--animation"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Підсистеми для вентиляційних
                                        фасадів</h1>
                                    <div class="first-slider__solid-big"></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first-slider__swiper-slide">
                                    <img src="img/2-15_2200x1400_acf_cropped%201.png" alt="" class="first-slider__bg">
                                    <p class="first-slider__number-slider">02</p>
                                    <div class="first-slider__solid production__mini-solid--animation"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Підсистеми для вентиляційних
                                        фасадів2</h1>
                                    <div class="first-slider__solid-big"></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.2</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first-slider__swiper-slide">
                                    <img src="img/echo-grid-VwxbVvm8sRA-unsplash%201.png" alt=""
                                         class="first-slider__bg">
                                    <p class="first-slider__number-slider ">03</p>
                                    <div class="first-slider__solid production__mini-solid--animation"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Підсистеми для вентиляційних
                                        фасадів3</h1>
                                    <div class="first-slider__solid-big"></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.3</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon-slider-right"></i></div>
                        <div class="swiper-button-prev"><i class="icon-slider-left"></i></div>
                    </div>
                </div>
            </section>
            <section class="down-btn">
                <div class="down-btn__btn-body">
                    <p class="down-btn__text">brws</p>
                    <a href="#yak1" class="down-btn__down"><i class="icon-down"></i></a>
                    <span class="down-btn__before-after"></span>
                </div>
            </section>
            <section id="yak1" class="production">
                <div class="production__link-absolute link-absolute-left">
                    <ul href="#" class="production__link-parents">
                        <li>
                            <a href="" class="production__link-parents-a">Продукція <i class="icon-down-menu icon-down-menu--white"></i></a>
                            <ul class="production__link-absolute-children">
                                <li><a href="">Продукція 1</a></li>
                                <li><a href="">Продукція 1</a></li>
                                <li><a href="">Продукція 1</a></li>
                            </ul>
                        </li>
                    </ul>
                    <p>lipprofil</p>
                </div>
                <div class="production__body">
                    <div class="production__images">
                        <img src="img/production-img.png" alt="">
                    </div>
                    <div class="production__right-text">
                        <h2 class="production__title title-h2">Продукція компанії</h2>
                        <p class="production__text text-default">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, <span>sed do eiusmod tempor incididunt.</span></p>
                        <div class="production__mini-solid production__mini-solid--animation"></div>
                        <p class="production__text text-default">Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum.</p>
                        <p class="production__text text-default"><span>Lorem Ipsum</span> has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </section>
            <div class="line-svg"><i class="icon-line-svg"></i></div>
            <section class="slider-production">
                <a href="#" class="slider-production__btn-absolute">
                    Продукция
                    <span class="one-before"></span>
                    <span class="two-before"></span>
                </a>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slider-production__swiper">
                                <div class="slider-production__bg"><img src="img/s1.png" alt=""></div>
                                <div class="slider-production__body-container">
                                    <div class="slider-production__body-header">
                                        <p class="slider-production__body-title">Підсистеми для вентиляційних
                                            фасадів</p>
                                        <p class="slider-production__body-text text-default">Підсистеми для
                                            вентиляційних фасадів</p>
                                    </div>
                                    <a href="#" class="btn-more">детальніше <span></span></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="slider-production__swiper">
                                <div class="slider-production__bg"><img src="img/s3.png" alt=""></div>
                                <div class="slider-production__body-container">
                                    <div class="slider-production__body-header">
                                        <p class="slider-production__body-title">Підсистеми для вентиляційних
                                            фасадів</p>
                                        <p class="slider-production__body-text text-default">Підсистеми для
                                            вентиляційних фасадів</p>
                                    </div>
                                    <a href="#" class="btn-more">детальніше <span></span></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="slider-production__swiper">
                                <div class="slider-production__bg"><img src="img/s2.png" alt=""></div>
                                <div class="slider-production__body-container">
                                    <div class="slider-production__body-header">
                                        <p class="slider-production__body-title">Підсистеми для вентиляційних
                                            фасадів</p>
                                        <p class="slider-production__body-text text-default">Підсистеми для
                                            вентиляційних фасадів</p>
                                    </div>
                                    <a href="#" class="btn-more">детальніше <span></span></a>
                                </div>
                            </div>

                        </div>

                        <div class="swiper-slide">
                            <div class="slider-production__swiper">
                                <div class="slider-production__bg"><img src="img/s1.png" alt=""></div>
                                <div class="slider-production__body-container">
                                    <div class="slider-production__body-header">
                                        <p class="slider-production__body-title">Підсистеми для вентиляційних
                                            фасадів</p>
                                        <p class="slider-production__body-text text-default">Підсистеми для
                                            вентиляційних фасадів</p>
                                    </div>
                                    <a href="#" class="btn-more">детальніше <span></span></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="slider-production__swiper">
                                <div class="slider-production__bg"><img src="img/s3.png" alt=""></div>
                                <div class="slider-production__body-container">
                                    <div class="slider-production__body-header">
                                        <p class="slider-production__body-title">Підсистеми для вентиляційних
                                            фасадів</p>
                                        <p class="slider-production__body-text text-default">Підсистеми для
                                            вентиляційних фасадів</p>
                                    </div>
                                    <a href="#" class="btn-more">детальніше <span></span></a>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-slide">
                            <div class="slider-production__swiper">
                                <div class="slider-production__bg"><img src="img/s2.png" alt=""></div>
                                <div class="slider-production__body-container">
                                    <div class="slider-production__body-header">
                                        <p class="slider-production__body-title">Підсистеми для вентиляційних
                                            фасадів</p>
                                        <p class="slider-production__body-text text-default">Підсистеми для
                                            вентиляційних фасадів</p>
                                    </div>
                                    <a href="#" class="btn-more">детальніше <span></span></a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="swiper-button-next"><i class="icon-slider-right--blue"></i></div>
                    <div class="swiper-button-prev"><i class="icon-slider-left--blue"></i></div>
                </div>
            </section>
            <div class="line-svg line-svg--refresh"><i class="icon-line-svg"></i></div>
            <section class="advantages">
                <span class="advantages__before"></span>
                <div class="advantages__title">
                    <a href="#" class="advantages__more">Дізнатись більше <span class="before "></span></a>
                    <p class="title-h2--advantages title-h2">преваги </p>
                </div>
                <div class="advantages__container">
                    <div class="advantages__item box-advantages">
                        <p class="box-advantages__icon"><i class="icon-items1"></i></p>
                        <p class="box-advantages__description">широкі архітектурні можливості</p>
                    </div>
                    <div class="advantages__item box-advantages">
                        <p class="box-advantages__icon"><i class="icon-items2"></i></p>
                        <p class="box-advantages__description">широкі архітектурні можливості</p>
                    </div>
                    <div class="advantages__item box-advantages">
                        <p class="box-advantages__icon"><i class="icon-items3"></i></p>
                        <p class="box-advantages__description">широкі архітектурні можливості</p>
                    </div>
                    <div class="advantages__item box-advantages">
                        <p class="box-advantages__icon"><i class="icon-items4"></i></p>
                        <p class="box-advantages__description">широкі архітектурні можливості</p>
                    </div>
                    <div class="advantages__item box-advantages">
                        <p class="box-advantages__icon"><i class="icon-items5"></i></p>
                        <p class="box-advantages__description">широкі архітектурні можливості</p>
                    </div>
                    <div class="advantages__item box-advantages">
                        <p class="box-advantages__icon"><i class="icon-items6"></i></p>
                        <p class="box-advantages__description">широкі архітектурні можливості</p>
                    </div>
                </div>
            </section>
            <section class="big-slider">
                <div class="link-absolute-left link-absolute--right">
                    <a href="#">Новини</a>
                    <p>lipprofil</p>
                </div>
                <div class="big-slider__header">
                    <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB1.jpg" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB2.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB3.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB4.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB5.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB6.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB7.png" alt="">
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-slide">
                              <div class="big-slider__swiper">
                                  <div class="big-slider__title">
                                      <p class="big-slider__title-h3 title-h3">Сонячні електростанції</p>
                                      <a href="#" class="big-slider__more"><span class="line-prev"></span> Детальніше</a>
                                  </div>
                                  <div class="big-slider__big-img">
                                      <p class="big-slider__description text-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                      <img src="img/slB8.png" alt="">
                                  </div>
                              </div>
                          </div>
                    </div>
                    <div class="swiper-button-next"><i class="icon-slider-right"></i></div>
                    <div class="swiper-button-prev"><i class="icon-slider-left"></i></div>
                  </div>
                </div>
                <div class="big-slider__bottom">
                    <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB1.jpg" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB2.png" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB3.png" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB4.png" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB5.png" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB6.png" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB7.png" alt="">
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="big-slider__pagination">
                              <img src="img/slB8.png" alt="">
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            </section>
            <div class="line-svg line-svg--after-line"><i class="icon-line-svg"></i></div>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}