{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <section class="first-slider">
                <a href="#" class="first-slider__order link-order"><span>замовити</span></a>
                <a href="#" class="first-slider__oval"><i class="icon-oval"></i></a>
                <div class="first-slider__slider-body">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="first-slider__swiper-slide">
                                    <div class="first-slider__bg">
                                        <img src="img/photo5361557368548207267(1)%202.png" alt="">
                                    </div>
                                    <p class="first-slider__number-slider">01</p>
                                    <div class="first-slider__solid"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Підсистеми для вентиляційних фасадів</h1>
                                    <div class="first-slider__solid-big"></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first-slider__swiper-slide">
                                    <img src="img/2-15_2200x1400_acf_cropped%201.png" alt="" class="first-slider__bg">
                                    <p class="first-slider__number-slider">02</p>
                                    <div class="first-slider__solid"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Підсистеми для вентиляційних фасадів2</h1>
                                    <div class="first-slider__solid-big"></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.2</p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="first-slider__swiper-slide">
                                    <img src="img/echo-grid-VwxbVvm8sRA-unsplash%201.png" alt="" class="first-slider__bg">
                                    <p class="first-slider__number-slider">03</p>
                                    <div class="first-slider__solid"></div>
                                    <h1 class="title-h1 first-slider__title-h1">Підсистеми для вентиляційних фасадів3</h1>
                                    <div class="first-slider__solid-big"></div>
                                    <p class="first-slider__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.3</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"><i class="icon-slider-right"></i></div>
                        <div class="swiper-button-prev"><i class="icon-slider-left"></i></div>
                    </div>
                </div>
            </section>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}