{% include "html/_document-header.html" %}

<div class="workspace">
    <div class="workspace__cont">

        <div class="workspace__header">
            {% include "html/header.html" %}
        </div>
        <main class="workspace__content">
            <section class="product-first">
                <div class="product-first__body">
                    <a href="#" class="product-first__item product-item">
                        <div class="product-item__bg">
                            <img src="img/pr1.png" alt="">
                        </div>
                        <p class="product-item__number-big">01</p>
                        <p class="product-item__description description">
                            Будівельні профілі ЛСТК
                        </p>
                    </a>
                    <a href="#" class="product-first__item product-item">
                        <div class="product-item__bg">
                            <img src="img/pr2.png" alt="">
                        </div>
                        <p class="product-item__number-big">02</p>
                        <p class="product-item__description description">
                            Фасадні профілі, кронштейни
                        </p>
                    </a>
                    <a href="#" class="product-first__item product-item">
                        <div class="product-item__bg">
                            <img src="img/pr3.png" alt="">
                        </div>
                        <p class="product-item__number-big">03</p>
                        <p class="product-item__description description">
                            Підсистеми для вентильованих фасадів
                        </p>
                    </a>
                    <a href="#" class="product-first__item product-item">
                        <div class="product-item__bg">
                            <img src="img/pr4.png" alt="">
                        </div>
                        <p class="product-item__number-big">03</p>
                        <p class="product-item__description description">
                            Штакетні огорожі (паркани, ворота, брами)
                        </p>
                    </a>
                </div>
            </section>
            <section class="down-btn down-btn--product">
                <div class="down-btn__btn-body">
                    <p class="down-btn__text">brws</p>
                    <a href="#" class="down-btn__down"><i class="icon-down"></i></a>
                    <span class="down-btn__before-after"></span>
                </div>
            </section>
            <section class="product product--before-line">
                <div class="product__body">
                    <div class="product__header">
                        <div class="product__filter">
                            <div class="product__filter-head">
                                <p>фільтри</p>
                                <i class="icon-down-menu--white"></i>
                            </div>
                            <div class="product__filter-body">
                                <p>filter 1</p>
                                <p>filter 1</p>
                                <p>filter 1</p>
                                <p>filter 1</p>
                                <p>filter 1</p>
                                <p>filter 1</p>
                            </div>
                        </div>
                        <i class="icon-line-svg"></i>
                    </div>
                    <div class="product__row product-row-default ">
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga1.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga2.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga3.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga4.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga5.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga6.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga7.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                        <div class="product__body-items product-items-default">
                            <div class="product-items-default__bg">
                                <img src="img/ga8.png" alt="">
                            </div>
                            <a href="#" class="product-items-default__btn-more btn-more-default">
                                <span class="border">Фасадна система Marmoc</span>
                                <span class="more-bottom">детальніше</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="workspace__footer">
            {% include "html/footer.html" %}
        </div>


    </div>
</div>

{% include "html/_document-footer.html" %}